<div class="panel">
    <div class="panel-header">
        <p class="h4 my-1">Box Movers</p>
    </div>
    <div class="panel-body">
        <p class="h4">Objective: Move each box to the flags to win!</p>
        <p>Controls:</p>
        <div class="controls-flex">
            <img src="assets/arrows.png" height="70" width="70" />
            <p style="margin-left: 1rem;">Arrow keys to move player</p>
        </div>
        <div class="controls-flex">
            <img src="assets/r.png" height="70" width="70" />
            <p style="margin-left: 1rem;">R to reset</p>
        </div>
        <p>Gameplay: </p>
        <div class="controls-flex">
            <img src="assets/box.png" height="70" width="70" />
            <p style="margin-left: 1rem;">Push box by walking into it</p>
        </div>
        <div class="controls-flex">
            <img src="assets/flag.png" height="70" width="70" />
            <p style="margin-left: 1rem;">Push boxes into the flags</p>
        </div>
    </div>
</div>